<li ng-class="{'completed': TodoItem._complete, 'editing': TodoItem._isEditing}">
  <div class="view">
    <input class="toggle" type="checkbox" ng-model="TodoItem._state.complete" ng-model-options="{getterSetter: true}"></input>
    <label ng-dblclick="TodoItem._onDoubleClick()">{{TodoItem.todo.text}}</label>
    <button class="destroy" ng-click="TodoItem._onDestroyClick()">X</button>
  </div>
  <div ng-show="state.isEditing">
    <todo-text-input class="edit" on-save="TodoItem._onSave"></todo-text-input>
  </div>
</li>
